// opnunartimi og madsedill.scss
@import "breytur";

/* Opnunartími */

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $spacing;
}

/* Matseðill */

table {
  border-spacing: 0;

  th,
  td {
    padding: calc(#{$spacing} * 0.5);
    text-align: left;
  }

  tbody {
    tr:nth-child(2n + 1) {
      color: $color-dark;
      background-color: $color-gold;
    }
  }
}
