//pontun.scss
@import "breytur";

/* Pöntunarform */

fieldset {
  border: $border-small solid $color-dark;

  legend {
    font-weight: bold;
  }

  div {
    label {
      display: flex;
      flex-direction: column;
    }
  }

  input,
  select,
  textarea {
    padding: calc(#{$spacing} * 0.5);
    width: 100%;
  }

  input[type="checkbox"] {
    width: auto;
  }

  .checkbox {
    label {
      flex-direction: row;
      gap: calc(#{$spacing} * 0.5);
    }
  }
}

form {
  button {
    padding: calc(#{$spacing} * 0.25);
    border-radius: $border-radius;
  }
}


